createdAt: "2019-11-07T15:16:48.831Z"
updatedAt: "2019-11-07T15:16:48.831Z"
type: "SNIPPET_NOTE"
folder: "3d7280a8c22b713dcd6d"
title: "Snippet note example"
description: '''
  Snippet note example
  You can store a series of snippets as a single note, like Gist.
'''
snippets: [
  {
    name: "example.html"
    mode: "html"
    content: '''
      <html>
      <body>
      <h1 id='hello'>Enjoy Boostnote!</h1>
      </body>
      </html>
    '''
    linesHighlighted: []
  }
  {
    name: "example.js"
    mode: "javascript"
    content: '''
      var boostnote = document.getElementById('hello').innerHTML
      
      console.log(boostnote)
    '''
    linesHighlighted: []
  }
]
tags: []
isStarred: false
isTrashed: false
